@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark: var(--color-dark);
  --color-light: var(--color-light);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
}

/* main */
@layer utilities {
  html {
    scrollbar-width: auto;
    scrollbar-color: #888 transparent;
  }
  section {
    @apply py-5
  }
  main > section {
    h2 {
      @apply md:text-5xl text-3xl font-semibold mb-2;
    }
    h3 {
      @apply text-xl lg:text-3xl font-semibold mb-2;
    }
    p {
      @apply mb-2 text-sm lg:text-lg opacity-90;
    }
    img {
      @apply border-2 lg:border-4 border-black/20 dark:bg-white/20 rounded-2xl lg:rounded-3xl mb-2 w-full;
    }
    a {
      @apply border-b-2 border-white;
    }
    ul {
      @apply list-decimal list-inside text-sm lg:text-lg opacity-90;
    }
    pre {
      @apply overflow-auto bg-black/10 dark:bg-white/10 p-3 rounded-3xl border-2 border-black/15 dark:border-white/20 dark:[box-shadow:inset_0_0_20px_rgb(50,50,50)] [box-shadow:inset_0_0_20px_rgb(180,180,180)];
    }
  }
}

/* side bar active */
.active {
  @apply bg-light dark:bg-dark text-primary;
}

/* side bar link */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

/* side bar */
#sideBar {
  ul {
    li {
      a {
        @apply px-5 py-2 hover:bg-dark rounded-full block;
      }
    }
  }
}