:root {
    --color-dark: #202020;
    --color-light: #eeeeee;
    --color-primary: #2D99FF;
    --color-secondary: #2D00FF;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../fonts/BricolageGrotesque-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../fonts/BricolageGrotesque-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../fonts/BricolageGrotesque-Bold.ttf") format("truetype");
  font-weight: 700;
}
* {
  font-family: "Bricolage Grotesque", sans-serif;
}